*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** color and variables **/
:root {
    --color-container: #D9D9D9;
    --color-background: #ffffff;
    --color-items: black;
}

html.dark-mode {
    --color-background: rgb(10, 10, 10);
    --color-container: rgb(30, 30, 30);
    --color-items: white;
}

body {
    background-color: var(--color-background);
    color: var(--color-items);
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    transition: background-color 0.01s ease;
}

main {
    padding: 20px;
    color: var(--color-items);
}

main > button:hover{
    transform: scale(1.100);
}

/** Side bar **/
#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container);
    height: 100dvh;
    position: relative;
    justify-content: space-between;
    min-width: 80px;
    transition: 0.4s ease;
}
#sidebar-content {
    padding: 15px;
}

#sidebar-content-config {
    padding: 15px;
    margin-top: auto;
}

.sidebar-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.item-description {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 0px;
    transition: 0.4s ease;
}

#side-item-config {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

#side-item-config:hover{
    background-color: var(--color-background);
}

.side-item {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

.side-item:hover {
    background-color: var(--color-background);
}

.side-item a, #side-item-config a {
    text-decoration: none;
    display: flex;
    color: var(--color-items);
}

/** Openbar **/
#openbar-content {
    display: flex;
    justify-content: start;
}

#openbar-btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-container);
    font-size: 16px;
}

#openbar-btn i{
color: var(--color-items)
}

#openbar-btn:hover {
    background-color: var(--color-background);
}

/** Toggle-Sidebar **/
#sidebar.open-sidebar ~ #page{
    margin-left: 150px;
}

#sidebar.open-sidebar {
    min-width: 100px;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    gap: 13px;
    justify-content: center;
}

#sidebar.open-sidebar #side-item-config a {
    gap: 13px;
    justify-content: center;
}

/* Modal */
#open-Modal{
    border: none;
    cursor: pointer;
    background-color: var(--color-container);
    font-size: 16px;
}
#button-darkmode > button{
    border: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px;
    background-color: var(--color-background);
    color: var(--color-items);
    font-size: 12px;
}
.modal{
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-container);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}
.modal-title{
    margin-bottom: 10px;
}
.modal-header ul{
    list-style: none;
}

.close{
  font-size: 25px;
  float: right;
  cursor: pointer;
}
