*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** color and transitions variables **/
:root {
    --color-container: #d9d9d9;
    --color-background: #ffffff;
    --color-items: black;
}
.dark-mode:root {
    --color-background: black;
    --color-container: rgba(30, 30, 30, 0.705);
    --color-items: white;
    --color-items-test: grey;
}

body {
    background-color: var(--color-background);
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}
main {
    padding: 20px;
    color: var(--color-items);
}

p{
    margin: 0;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/** First section **/
.main-info{
    background-color: var(--color-container);
    width: 1200px;
    height: 500px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** Progress bar**/
.progressCircle {
    margin-left: 100px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: conic-gradient(#9bca9f 0deg, #e5e7eb 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
}

.progressCircle::before {
    content: "";
    position: absolute;
    width: 190px;
    height: 190px;
    background: var(--color-container);
    border-radius: 50%;
    transition: all 300ms;
}

.progressPercentage{
    position: relative;
    font-size: 32px;
    font-weight: bold;
    z-index: 1;
}

/** Graph **/
.chart-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

#doughnut{
    margin-right: 100px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

/** Register searchbar **/
#searchbar{
    background-color: var(--color-container);
    width: 1200px;
    height: 75px;
    padding: 10px;
    border-style: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#searchbar::placeholder{
    font-size: 20px;
    margin: 0px;
    border: 0px;
    padding-left: 20px;
    color: var(--color-items-test);
}

/** Water bar **/
.water-section{
    background-color: var(--color-container);
    width: 1200px;
    height: 180px;
    border-style: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.water-section-info{
    width: 100%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-items-test);
}

.waterProgressbar{
    width: 100%;
    max-width: 600px;
    height: 10%;
    border-radius: 50px;
    background-color: var(--color-background);
}

.waterProgressbar div{
    width: 0%;
    max-width: 600px;
    height: 100%;
    border-radius: 50px;
    background-color: #5FCDD9;
    transition: all 300ms;
}

/** Side bar **/
#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container);
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 80px;
    justify-content: space-between;
}

#sidebar-content {
    padding: 15px;
}

.sidebar-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#sidebar-content-config {
    padding: 15px;
}
#side-item-config {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#side-item-config:hover{
    background-color: var(--color-background);
}
.side-item {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

.side-item:hover {
    background-color: var(--color-background);
}

.side-item a, #side-item-config a{
    text-decoration: none;
    display: flex;
    color: var(--color-items);
}

#openbar {
    display: flex;
    justify-content: start;
}

#openbar-btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-container);
    font-size: 16px;
}

#openbar-btn i{
color: var(--color-items)
}

#openbar-btn:hover {
    background-color: var(--color-background);
}

.item-description {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 100px;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    gap: 13px;
    justify-content: center;
}
#sidebar.open-sidebar #side-item-config a {
    gap: 13px;
    justify-content: center;
}