*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** color and variables **/
:root {
    --color-container: #D9D9D9;
    --color-background: #ffffff;
    --color-items: black;
}

html.dark-mode {
    --color-background: rgb(10, 10, 10);
    --color-container: rgb(30, 30, 30);
    --color-items: white;
}

body {
    background-color: var(--color-background);
    color: var(--color-items);
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    transition: background-color 0.01s ease;
}

.container{
    width: 1100px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-background);
    gap: 30px;
}
.card{
    width: 300px;
    min-height: 632px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 5px -1px black;
    transition: transform 0.3s;
    background-color: var(--color-container);
    color: var(--color-items);
}
.card:hover{
    transform: scale(1.050);
}
.card-name{
    margin-top: 10px;
    border-bottom: 1px solid var(--color-items);
    padding-bottom: 35px;
}
.card-name > p{
    cursor: default;
}
.card-content > ul{
    padding: 10px 30px;
    padding-bottom: 20px;
    cursor: default;
}
.card-content > ul, li{
    list-style: none;
    padding: 10px 0;
}
.card-content ul, 
.card-content li, 
.card-content i{
    margin-right: 10px;
}
.card-content > button{
    width: 120px;
    padding: 10px 20px;
    background-color:  #9BCA9F;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.card-content > button, a{
    text-decoration: none;
    color: var(--color-items);
}
.card-content > button:hover{
    transform: scale(1.100);
}

main {
    padding: 20px;
    color: var(--color-items);
}
main > button {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-container);
    color: var(--color-items);
    font-size: 12px;
}
main > button:hover{
    transform: scale(1.100);
}

/** Side bar **/
#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container);
    height: 100dvh;
    position: relative;
    justify-content: space-between;
    min-width: 80px;
    transition: 0.4s ease;
}
#sidebar-content {
    padding: 15px;
}

#sidebar-content-config {
    padding: 15px;
    margin-top: auto;
}

.sidebar-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.item-description {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 0px;
    transition: 0.4s ease;
}

#side-item-config {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

#side-item-config:hover{
    background-color: var(--color-background);
}

.side-item {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

.side-item:hover {
    background-color: var(--color-background);
}

.side-item a, #side-item-config a {
    text-decoration: none;
    display: flex;
    color: var(--color-items);
}

/** Openbar **/
#openbar-content {
    display: flex;
    justify-content: start;
}

#openbar-btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-container);
    font-size: 16px;
}

#openbar-btn i{
color: var(--color-items)
}

#openbar-btn:hover {
    background-color: var(--color-background);
}

/** Toggle-Sidebar **/
#sidebar.open-sidebar ~ #page{
    margin-left: 150px;
}

#sidebar.open-sidebar {
    min-width: 100px;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    gap: 13px;
    justify-content: center;
}

#sidebar.open-sidebar #side-item-config a {
    gap: 13px;
    justify-content: center;
}