body{
    display: block;
}

#page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 500px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: 180px;
    transition: margin-left 0.4s ease;
}

#sidebar.open-sidebar ~ #page {
    margin-left: 250px;
}

/** Profile section **/
.profile-container{
    display: flex;
    gap: 50px;
    max-width: 840px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.profile-pic{
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.profile-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/** Progrees section **/
#Progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 840px;
    width: 100%;
}

.charts{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 150px;
}

/** Sequence and water section **/
.water-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sequence-water{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 840px; 
}

.sequence-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sequence{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    width: 100%;
    height: 85px;
}

#day{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50%;
    padding: 30px;
}

.water-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    width: 300px;
    height: 85px;
    border-radius: 50px;
}

.waterbar{
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 50px;
}

/** Diet plan section**/
#containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 840px;
    border-radius: 20px;
    padding: 50px;
    background-color: white;
}

.progressBar{
    background-color: #D9D9D9;
    padding: 10px;
    width: 575px;
    border-radius: 20px;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    width: 600px;
    border-style: none;
    border-radius: 20px;
    background-color: #9BCA9F;
}

/** Data section**/
.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}