*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 16px;
    margin-bottom: 4px;
}

/** header **/
header{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    height: 80px;
}

/** login section**/
.wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-align{
    width: 100%;
    max-width: 450px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.container{
    background-color: #9BCA9F;
    border-radius: 30px;
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box{
    border-style: none;
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
}

button{
    border: none;
    height: 46px;
    font-size: 16px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: gray;
    margin: 0;
}

.a-register {
    text-align: center;
    color: gray;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
}