* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

/* Text sizes */
p{
    font-size: 22px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 30px;
}

/** Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);

    position: sticky;
    top: 0;
    z-index: 999;
}

.img-logo{
    width: 200px;
    height: auto;
}

.btn-header{
    background-color: #9BCA9F;
    width: 150px;
    height: 45px;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.btn-header:hover{
    transition: 0.2s;
    background-color: white;
    border: 3px solid #9BCA9F;
    color: #9BCA9F;
}

a{
    color: black;
    text-decoration: none;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/* About container */
.about-cont{
    padding: 100px;
    padding-top: 40px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.about-text p{
    margin-bottom: 25px;
}

.about-cont h1{
    margin-bottom: 20px;
}

.p-img-cont{
    display: flex;
    justify-content: space-between;
}

img{
    width: 600px;
    height: 590px;
    margin-left: 50px;
    border-radius: 10px;
    object-fit: cover;
}

/* Values container */
.values-cont{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px;
    background-color: #F7F7F7;
}

.values-cont p{
    margin: 0;
}

.values-item-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.values-item{
    padding: 30px;
    background-color: white;
    border-radius: 20px;    
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

/* Footer */
footer {
    background-color: black;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    max-width: 300px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer-section p {
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    margin-top: 10px;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-bottom p {
    color: #ccc;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}