*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** color and transitions variables **/
:root {
    --color-container: #D9D9D9;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-button-transition: rgb(0, 0, 0);
    --color-button: #9bca9f;
    --color-link: #808080;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
}

p{
    margin: 0;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/** First section **/
.main-info{
    background-color: var(--color-white);
    width: 1200px;
    height: 500px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** Progress bar**/
.progressCircle {
    margin-left: 100px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: conic-gradient(#9bca9f 0deg, #e5e7eb 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
}

.progressCircle::before {
    content: "";
    position: absolute;
    width: 190px;
    height: 190px;
    background: var(--color-white);
    border-radius: 50%;
    transition: all 300ms;
}

.progressPercentage{
    position: relative;
    font-size: 32px;
    font-weight: bold;
    z-index: 1;
}

/** Graph **/
.chart-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

#doughnut{
    margin-right: 100px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

/** Register searchbar **/
#searchbar{
    background-color: var(--color-white);
    width: 1200px;
    height: 75px;
    padding: 10px;
    border-style: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#searchbar::placeholder{
    font-size: 20px;
    margin: 0px;
    border: 0px;
    padding-left: 20px;
}

/** Water bar **/
.water-section{
    background-color: var(--color-white);
    width: 1200px;
    height: 180px;
    border-style: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.water-section-info{
    width: 100%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.waterProgressbar{
    width: 100%;
    max-width: 600px;
    height: 10%;
    border-radius: 50px;
    background-color: var(--color-container);
}

.waterProgressbar div{
    width: 0%;
    max-width: 600px;
    height: 100%;
    border-radius: 50px;
    background-color: #5FCDD9;
    transition: all 300ms;
}
.sugestoes-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.sugestoes-lista li {
    padding: 5px;
    cursor: pointer;
}

.sugestoes-lista li:hover {
    background-color: #f0f0f0;
}
.selecionados {
    display: none; /* por padrão não aparece */
    margin: 0;
    padding: 0;
}
