*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** color and variables **/
:root {
    --color-container: #fff;
    --color-background: #f2f2f2;
    --color-shadow: rgba(0, 0, 0, 0.05);
    --color-icon: #4b5563;
    --color-items: black;
}

html.dark-mode {
    --color-background: rgb(10, 10, 10);
    --color-container: rgb(30, 30, 30);
    --color-items: white;
}

body {
    background-color: var(--color-background);
    color: var(--color-items);
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    display: flex;
    transition: background-color 0.3s ease;
}

body:has(#sidebar.open-sidebar) .container {
    margin-left: 400px;
}

.container{
    width: 1100px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-background);
    gap: 30px;
}
.card{
    width: 300px;
    min-height: 632px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    background-color: var(--color-container);
    color: var(--color-items);
}
.card:hover{
    transform: scale(1.050);
}
.card-name{
    margin-top: 10px;
    border-bottom: 1px solid var(--color-items);
    padding-bottom: 35px;
}
.card-name > p{
    cursor: default;
}
.card-content > ul{
    padding: 10px 30px;
    padding-bottom: 20px;
    cursor: default;
}
.card-content > ul, li{
    list-style: none;
    padding: 10px 0;
}
.card-content ul, 
.card-content li, 
.card-content i{
    margin-right: 10px;
}
.fa-check-circle{
    color: #9BCA9F;
}
.fa-circle-xmark{
    color: #ce7070;
}
.card-content > button{
    width: 120px;
    padding: 10px 20px;
    background-color:  #9BCA9F;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.card-content > button, a{
    text-decoration: none;
    color: var(--color-items);
}
.card-content > button:hover{
    transform: scale(1.100);
}

main {
    padding: 20px;
    color: var(--color-items);
}
main > button {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-container);
    color: var(--color-items);
    font-size: 12px;
    font-weight: bolder;
}
main > button:hover{
    transform: scale(1.100);
}