* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** color and transitions variables **/
:root {
    --color-container: #D9D9D9;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-button-transition: rgb(0, 0, 0);
    --color-button: #9bca9f;
    --color-link: #808080;
}

body {
    background-color: var(--color-container);
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: 100vh;
    position: fixed;
    transition: all .5s;
    width: 80px;
    justify-content: space-between;
    overflow: hidden;
}

#sidebar-content {
    padding: 15px;
}

.sidebar-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#sidebar-content-config {
    padding: 15px;
}
#side-item-config {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#side-item-config:hover{
    background-color: var(--color-container);
}
.side-item {
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
}

.side-item:hover {
    background-color: var(--color-container);
}

.side-item a, #side-item-config a{
    text-decoration: none;
    color: var(--color-black);
    display: flex;
}

#openbar {
    display: flex;
    justify-content: start;
}

#openbar-btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--color-white);
    font-size: 16px;
}

#openbar-btn:hover {
    background-color: var(--color-container);
}

.item-description {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s;
    height: 0px;
}

#sidebar.open-sidebar {
    width: 200px;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    gap: 13px;
    justify-content: center;
}
#sidebar.open-sidebar #side-item-config a {
    gap: 13px;
    justify-content: center;
}